<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应dao-->
<mapper namespace="org.jeecg.modules.app.mapper.FileUploadMapper">
    <select id="examineFileName" resultType="String" parameterType="String">
        SELECT file_name FROM file_upload where file_name=#{fileName};

    </select>

    <insert id="insertIntoFileUpload" parameterType="org.jeecg.modules.app.entity.FileUpload">
        INSERT INTO file_upload ( id, file_name, update_time, file_title )
        VALUES
	    ( #{id}, #{fileName}, #{updateTime}, #{fileTitle} );
    </insert>

    <select id="examineFileUpload" resultType="org.jeecg.modules.app.entity.FileUpload" parameterType="String">

        select * from file_upload where file_name=#{fileName};
    </select>

    <select id="examineAllFileInfo" resultType="org.jeecg.modules.app.entity.FileUpload">
        select * from file_upload order by create_time desc;

    </select>

</mapper>