<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应dao-->
<mapper namespace="org.jeecg.modules.app.mapper.WordbookMapper">


    <select id="examineWordbookAll" resultType="org.jeecg.modules.app.entity.Wordbook">
        SELECT * FROM `wordbook`

    </select>

    <select id="examineMatchingToWordbook" resultType="org.jeecg.modules.app.entity.MatchingToWordbook">

        SELECT * FROM `matching_to_wordbook`


    </select>

    <select id="examineFiledNameFromMatchingToWordbook" resultType="String">

        SELECT field_name
        FROM matching_to_wordbook
    </select>

    <select id="examineWordbookFieldNameByType" resultType="String">

        SELECT field_name
        FROM wordbook
        WHERE type = #{type}
    </select>

    <select id="examineWordbookFieldCodeByType" resultType="String">
        select field_code
        from wordbook
        where type = #{type}
    </select>


    <insert id="insertBankFlow" parameterType="java.util.Map">

        INSERT INTO bank_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != '' and id != null">
                id,
            </if>
            <if test="case_id != '' and case_id != null">
                case_id,
            </if>
            <if test="introduction_id != '' and introduction_id != null">
                introduction_id,
            </if>
            <if test="transaction_subject != '' and transaction_subject != null">
                transaction_subject,
            </if>
            <if test="account_subject != '' and account_subject != null">
                account_subject,
            </if>
            <if test="card_entity != '' and card_entity != null">
                card_entity,
            </if>
            <if test="recovery_mark != '' and recovery_mark != null">
                recovery_mark,
            </if>
            <if test="transaction_date != null">
                transaction_date,
            </if>
            <if test="counter_party != '' and counter_party != null">
                counter_party,
            </if>
            <if test="account_counterparty != '' and account_counterparty != null">
                account_counterparty,
            </if>
            <if test="card_counterparty != '' and card_counterparty != null">
                card_counterparty,
            </if>
            <if test="transaction_amount != '' and transaction_amount != null">
                transaction_amount,
            </if>
            <if test="abstract_content != '' and abstract_content != null">
                abstract_content,
            </if>
            <if test="balance_transaction != '' and balance_transaction != null">
                balance_transaction,
            </if>
            <if test="transaction_bank != '' and transaction_bank != null">
                transaction_bank,
            </if>
            <if test="counterparty_bank != '' and counterparty_bank != null">
                counterparty_bank,
            </if>
            <if test="place_transaction != '' and place_transaction != null">
                place_transaction,
            </if>
            <if test="trading_place != '' and trading_place != null">
                trading_place,
            </if>
            <if test="transaction_number != '' and transaction_number != null">
                transaction_number,
            </if>
            <if test="mac != '' and mac != null">
                mac,
            </if>
            <if test="ip != '' and ip != null">
                ip,
            </if>
            <if test="currency != '' and currency != null">
                currency,
            </if>
            <if test="temarks != '' and temarks != null">
                temarks,
            </if>
            <if test="trading_no != '' and trading_no != null">
                trading_no,
            </if>
            <if test="teller_number != '' and teller_number != null">
                teller_number,
            </if>
            <if test=" institution_party != '' and institution_party != null">
                institution_party,
            </if>
            <if test=" delete_identifier != '' and delete_identifier != null">
                delete_identifier,
            </if>

            <if test=" customer_code != '' and customer_code != null">
                customer_code,
            </if>
            <if test=" log_number != '' and log_number != null">
                log_number,
            </if>
            <if test=" apsh_place != '' and apsh_place != null">
                apsh_place,
            </if>
            <if test=" matcher_code != '' and matcher_code != null">
                matcher_code,
            </if>
            <if test=" matcher_balance != '' and matcher_balance != null">
                matcher_balance,
            </if>

            <if test=" subject_credentials != '' and subject_credentials != null">
                subject_credentials,
            </if>

            <if test=" adversary_credentials != '' and adversary_credentials != null">
                adversary_credentials,
            </if>

            <if test=" trancation_records_id != '' and trancation_records_id != null">
                trancation_records_id,
            </if>

            <if test=" report_organization != '' and report_organization != null">
                report_organization,
            </if>

            <if test=" she_wai_fen_lei != '' and she_wai_fen_lei != null">
                she_wai_fen_lei,
            </if>

            <if test=" agent_name != '' and agent_name != null">
                agent_name,
            </if>

            <if test=" agent_credentials != '' and agent_credentials != null">
                agent_credentials,
            </if>

            <if test=" voucher_number != '' and voucher_number != null">
                voucher_number,
            </if>

            <if test=" voucher_type != '' and voucher_type != null">
                voucher_type,
            </if>


        </trim>


        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != '' and id != null">
                #{id},
            </if>
            <if test="case_id != '' and case_id != null">
                #{case_id},
            </if>
            <if test="introduction_id != '' and introduction_id != null">
                #{introduction_id},
            </if>
            <if test=" transaction_subject != '' and transaction_subject != null">
                #{transaction_subject},
            </if>
            <if test="account_subject != '' and account_subject != null">
                #{account_subject},
            </if>
            <if test="card_entity != '' and card_entity != null">
                #{card_entity},
            </if>
            <if test="recovery_mark != '' and recovery_mark != null">
                #{recovery_mark},
            </if>
            <if test="transaction_date != null">
                #{transaction_date},
            </if>
            <if test="counter_party != '' and counter_party != null">
                #{counter_party},
            </if>
            <if test="account_counterparty != '' and account_counterparty != null">
                #{account_counterparty},
            </if>
            <if test="card_counterparty != '' and card_counterparty != null">
                #{card_counterparty},
            </if>
            <if test="transaction_amount != null">
                #{transaction_amount},
            </if>
            <if test="abstract_content != '' and abstract_content != null">
                #{abstract_content},
            </if>
            <if test="balance_transaction != null">
                #{balance_transaction},
            </if>
            <if test="transaction_bank != '' and transaction_bank != null">
                #{transaction_bank},
            </if>
            <if test="counterparty_bank != '' and counterparty_bank != null">
                #{counterparty_bank},
            </if>
            <if test="place_transaction != '' and place_transaction != null">
                #{place_transaction},
            </if>
            <if test=" trading_place != '' and trading_place != null">
                #{trading_place},
            </if>
            <if test=" transaction_number != '' and transaction_number != null">
                #{transaction_number},
            </if>
            <if test="mac != '' and mac != null">
                #{mac},
            </if>
            <if test="ip != '' and ip != null">
                #{ip},
            </if>
            <if test="currency != '' and currency != null">
                #{currency},
            </if>
            <if test="temarks != '' and temarks != null">
                #{temarks},
            </if>
            <if test="trading_no != '' and trading_no != null">
                #{trading_no},
            </if>
            <if test="teller_number != '' and teller_number != null">
                #{teller_number},
            </if>
            <if test="institution_party != '' and institution_party != null">
                #{institution_party},
            </if>
            <if test="delete_identifier != '' and delete_identifier != null">
                #{delete_identifier},
            </if>
            <if test="customer_code != '' and customer_code != null">
                #{customer_code},
            </if>
            <if test="log_number != '' and log_number != null">
                #{log_number},
            </if>
            <if test="apsh_place != '' and apsh_place != null">
                #{apsh_place},
            </if>
            <if test="matcher_code != '' and matcher_code != null">
                #{matcher_code},
            </if>
            <if test="matcher_balance != '' and matcher_balance != null">
                #{matcher_balance},
            </if>
            <if test=" adversary_credentials != '' and adversary_credentials != null">
                #{adversary_credentials},
            </if>
            <if test=" trancation_records_id != '' and trancation_records_id != null">
                #{trancation_records_id},
            </if>
            <if test=" report_organization != '' and report_organization != null">
                #{report_organization},
            </if>
            <if test=" she_wai_fen_lei != '' and she_wai_fen_lei != null">
                #{she_wai_fen_lei},
            </if>
            <if test=" agent_name != '' and agent_name != null">
                #{agent_name},
            </if>
            <if test=" agent_credentials != '' and agent_credentials != null">
                #{agent_credentials},
            </if>
            <if test=" voucher_number != '' and voucher_number != null">
                #{voucher_number},
            </if>
            <if test=" voucher_type != '' and voucher_type != null">
                #{voucher_type},
            </if>

        </trim>


    </insert>

</mapper>